Source: openmediavault-snapraid-btrfs
Section: net
XB-Plugin-Section: filesystems
Priority: optional
Maintainer: CCRAIGEN
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.6
Homepage: http://omv-extras.org/simple/

Package: openmediavault-snapraid-btrfs
Architecture: all
Depends: openmediavault (>= 5.0.5),
         omvextras-common,
         snapraid (>= 11.3),
         snapper
Description: snapraid plugin for OpenMediaVault (+BTRFS script)
   @CCRAIGEN modified for use with BTRFS snapshot script, includes "snapraid" snapper template
   -MUST- set up snapper configs for each drive
   -MUST- create the .snapraid subvolume on each BTRFS drive
   -MUST- do a single run of "snapraid sync" from command line to initialize content files
   -RECOMMEND- that parity is created with mkfs.ext4 -F -L ParityX /dev/XXX -N 8192 -m 0 -J size=32